body {
  font-family: EB Garamond,serif;
  color: rgba(0,0,0,.87);
  display: flex;
  justify-content: center;
  padding: 2rem;
  margin: 20rem;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #ccc;
}
h1 {
  font-size: 4rem;
  line-height: 5rem;
  font-weight: 400;
  padding-bottom: 40px;
}
b {
  font-weight: 700;
}
ul {
  padding: 0;
}
ul > p > span {
  font-weight: 700;
  font-size: 1.5rem;
  font-style: italic;
  display: inline-block;
  padding-right: 1rem;
}
ul > p > a {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.links a {
  display: block;
  font-family: Overpass,sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .2rem;
  list-style-type: none;
  padding-right: 1rem;
  padding-top: 0.8rem;
}